.password-container {
  position: relative;
}
.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.password-input-wrapper {
  position: relative;
}
.password-input-wrapper input {
  padding-right: 30px;
}
.password-input-wrapper i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}