body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 80%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.big {
    background-color: #2C3E50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex: 2;
    margin-right: 10px;
}

.Foursmall {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    padding-top: 10px;
}

.small {
    background-color: #2C3E50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 48%;
    margin-bottom: 10px;
}
