body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
.contain{
  border-style: solid;
  height: 400px;
  width: 700px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inside{
  display: flex;
  margin: 135px;
  padding: 10px;
  font-size: 30px;
  background-color: blue;
  color: white;
  align-items: center;
  text-align: center;
}