body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
.contain{
  border-style: solid;
  height: 140px;
  width: 680px;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.id1{
  color: white;
  margin: 10px;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  background-color:rgb(144, 238, 144);
  align-items: center;
}