*{
    box-sizing: border-box;
}
.header{
    width: 40%;
    text-align: center;
    background-color: whitesmoke;
    position: relative;
    opacity: 0.6;
}
 .button button{
    margin-top: 20px;
    width: 130px;
    height: 40px;
    border-radius: 8px;
}
.Download{
    background-color:	rgb(0, 64, 255);
    color: wheat;
}
.footer {
    display: inline-block;
    margin-top: 10px;
}
.footer p i {
    margin: 0 10px;
}
.text{
    padding-bottom: 15px;
}
.fot{
    background-color: rgb(230, 235, 235);
}
.main .line{
    display: block;
    width: 70px;
    border-bottom: 1px solid gray;
    margin: 10px auto;
}
