*{
    box-sizing: border-box;
}
.header{
    width: 30%;
    height: auto;
    background-color: rgba(79,64,93,255);
}
textarea{
    margin: 20px;
    padding: 15px; 
    font-size: 18px;
    width: 570px;
    border-radius: 8px;
}
input{
    margin: 20px;
    padding: 15px; 
    font-size: 18px;
    border-radius: 8px;
}
label{
    padding-left: 20px;
    color: aliceblue;
}
.header button{
    width: 200px;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-left: 20px;
}
